<ion-view view-title="查询结果">
  <ion-content>
    <p style="margin-left: 10px">查询结果(2)</p>
    <div class="list">
      <div class="item" ng-click="goToDetail()">
        <div class="row" style="margin-top: -20px">
          <div class="col">
            <p style="float:left;">订单号:E005143333 </p>
            <p style="float:right;">曹凯强</p>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <p> 车次信息<font color="aqua">12月12日 11:25开 杭州东-宁波</font></p>
          </div>
        </div>
        <div class="row" style="margin-bottom: -20px">
          <div class="col">
            <p style="float: left">订单时间:2016年10月27日 18:23 </p>
            <p style="float: right">总张数:1 </p>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
