<ion-view title="订单详情">
  <ion-content>

    <div class="list">
      <div class="item">
        <div class="row" style="margin-top: -20px;margin-bottom: -20px">
          <div class="col">
            <p style="float:left;">E7778788888 </p>
            <p style="float:right;">2016年10月27日</p>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="row">
          <div class="col">
            <p style="float: left">2016-12-13 11点33开</p>
            <p style="float: right">宁波-杭州东</p>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <p>D382  二等座 03车 13C号</p>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <p style="float: left;">曹凯强 二代身份证成人票</p>
            <p style="float:right;">48:00元</p>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <p style="float: left">车票状态:已支付 </p>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
