<ion-view title="注册">
  <ion-content>

    <!--顶部 可以加一张背景图-->
    <div style="height: 70px;width: 100%;text-align: center;line-height: 70px">
     <p> 用户注册</p>
    </div>
    <div class="list-inset" style="width:300px;margin-left: auto;margin-right: auto;margin-bottom: 0px">
      <div class="row">
        <div class="col">
          <label class="item item-input-inset">
       <span class="input-label">用户名</span>
       <input type="text" ng-model="user.username" placeholder='字母,数字或"_",6-30位'>

     </label>
          </div>
        </div>
      <div class="row">
        <div class="col">
          <label class="item item-input-inset">
        <span class="input-label">密码</span>
        <input type="password" ng-model="user.password" placeholder='不少于6位'>

      </label>
          </div>
        </div>
      <div class="row">
        <div class="col">
          <label class="item item-input-inset">
        <span class="input-label">请再次确认密码</span>
        <input type="password" ng-model="user.configpassword" placeholder='请再次输入密码'>

      </label>
          </div>
        </div>

      <div class="row">
        <div class="col">
          <div class="item item-input-inset item-button-right">
        <span class="input-label">手机号</span>
<input type="tel" ng-model="user.mobile" placeholder='请输入手机号'>
        <button class="button button-positive" style="margin-left: 10px" ng-click="receiveAuthCode()">
         <font size="2px">获取验证码</font>
        </button>
            </div>
          </div>
</div>
      <div class="row" >
        <div class="col">
          <label class="item item-input-inset">
            <div class="row" style="height: 60px">
              <div class="col-20">
        <span class="input-label">验证码</span>
  </div>
              <div class="col">
        <input type="tel" ng-model="user.authcode" placeholder='请输入验证码'>
</div>
   <div class="col-20">
     <p>{{authcode}}</p>
     </div>
              </div>
      </label>
          </div>
        </div>

      <div class="row">
        <div class="col">
          <button class="button button-full button-positive" ng-click="register()">注册</button>
        </div>
      </div>
</div>
</ion-content>
</ion-view>
