<ion-view view-title="忘记密码">

    <ion-content>

        <div class="list-inset" style="width:300px;margin-left: auto;margin-right: auto;margin-bottom: 0px">
            <div class="row">
                <div class="col">
                    <label class="item item-input-inset">

                        <input type="text" placeholder="邮箱/手机" id="email">
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <button style="text-align: center;margin-top: 10px;border-bottom-left-radius: 10px;border-bottom-right-radius: 10px;border-top-left-radius: 10px;border-top-right-radius: 10px" class="button button-positive button-full"
                            ng-click="writeEmail()">下一步
                    </button>
                </div>
            </div>
        </div>

    </ion-content>
</ion-view>

