
<ion-view view-title="个人中心">
  <ion-nav-buttons side="right">
    <button class="button" ng-click="save()">保存</button>
  </ion-nav-buttons>
  <ion-content>

    <div style="background-color: #0c60ee;height:150px ";align="center" >
      <!--头像的基本信息-->
      <div  style="background-color: #0c60ee" align=center>
        <img src={{img.src}} style="margin-top:20px;width: 100px;height:100px;border-radius:50px 50px 50px 50px;text-align: center;" ng-click="selectHead()">
        <i class="ion-ios-camera-outline" style="font-size: 40px;color: white;margin-left: -40px" ng-click="selectHead()"></i>
      </div>
    </div>
    <div class="list">

      <label class="item item-input">
        <span class="input-label">用户名</span>
        <input type="text" ng-model="user.username" ng-disabled="true">

      </label>
      <div class="item item-input">
        <span class="input-label">姓名</span>
        <input type="text" ng-model="user.name" placeholder="请输入真实姓名,以便购票">

      </div>
      <div class="item item-input">
        <span class="input-label">证件类型</span>
        <button type="button" ng-click="selectType()">{{user.cardType}}</button>

      </div>
      <div class="item item-input">
        <span class="input-label">证件号码</span>
        <input type="text" ng-model="user.cardId" placeholder="请准确完整填写">

      </div>

      <div class="item item-input">
        <span class="input-label">邮箱：</span>
        <input type="email" ng-model="user.email" placeholder="请准确填写邮箱地址">
      </div>
      <div class="item item-input">
        <span class="input-label">电话：</span>
        <input type="tel" ng-model="user.tel">

      </div>
      <div class="item item-input">
        <span class="input-label">账号设置：</span>
        <p ng-click="accountSetting()">点击可进行账号设置</p>
      </div>
    </div>


  </ion-content>
</ion-view>
